@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

@keyframes css-dev-only-do-not-override-nnuwmp-ant-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.motion-boo {
    animation: moveDown 1s ease infinite alternate;
}

.primary-hover {
    background-color: #ffce1f !important;

    &:hover {
        background-color: #ffce1f !important;
    }
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-title,
:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-paragraph > li,
:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-avatar,
:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-button,
:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-input,
:where(.css-dev-only-do-not-override-nnuwmp).ant-skeleton.ant-skeleton-active .ant-skeleton-image {
    background: linear-gradient(90deg, rgba(82, 82, 82, 0.377) 25%, rgba(117, 117, 117, 0.295) 37%, rgba(68, 68, 68, 0.267) 63%);
    background-size: auto;
    background-size: 400% 100%;
    animation-name: css-dev-only-do-not-override-nnuwmp-ant-skeleton-loading;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
