@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(5px);
    }
}

.motion-boo {
    animation: moveDown 1s ease infinite alternate;
}

.primary-hover {
    background-color: #FFCE1F !important;

    &:hover {
        background-color: #FFCE1F !important;
    }
}
