$primary-color: #000000;
$second-color: #bdbdbd;
$main-color: #FFCE1F;
$orange-color: #ff8705;

:export {
    primaryColor: $primary-color;
    secondColor: $second-color;
    mainColor: $main-color;
    orangeColor: $orange-color
}
